@use "../globals/colors" as c;
@use "../globals/mixin" as m;
.wrapper {
  background-color: c.$color-black;
  max-width: 750px;
  margin: 0 auto;
  &__container {
    background-color: c.$color-black;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    min-height: 100vh;
    border-color: c.$color-grey;
    color: c.$color-white;
  }
  @include m.border-website;

  @media only screen and (max-width: 475px) {
  max-width: 475px;
    &__post{
  max-width: 475px;
  }
  }
}


