@use "../globals/mixin.scss" as m;

.mainRepostIcon:hover {
  color: MediumSeaGreen;
}
.mainRepostIcon__repost {
  @include m.icons-center;
  position: absolute;
}
.cardContainer__headerIcon {
  @include m.icons-weight;
}
@media only screen and (max-width: 475px) {
  .mainRepostIcon__repost {
    @include m.gapmobileicons;
     padding-left: 5px;
  }
  .mainRepostIcon:hover {
  color: MediumSeaGreen;
}
}
