@use "../globals/mixin.scss" as m;
.cardContainer__headerIcon {
  display: flex;
  margin-left: 2em;
  @include m.icons-weight;
}
.mainShareIcon{
  @include m.iconsposition
}
@media only screen and (max-width: 475px) {
.sharecontainer{ 
  display: none;  
}
}

